kestra/workflows/defi-analytics.yaml
id: defi-analytics
namespace: defi.portfolio

inputs:
  - id: protocols
    type: ARRAY
    itemType: STRING
  - id: chains
    type: ARRAY
    itemType: STRING

tasks:
  - id: fetch_tvl_data
    type: io.kestra.plugin.scripts.python.Script
    script: |
      import json
      from defi_llama import get_tvl_data
      
      tvl_data = get_tvl_data(
          protocols={{ inputs.protocols }},
          chains={{ inputs.chains }}
      )
      
      with open('tvl_data.json', 'w') as f:
          json.dump(tvl_data, f)
    outputFiles:
      - tvl_data.json

  - id: analyze_yields
    type: io.kestra.plugin.scripts.python.Script
    env:
      PROTOCOLS: "{{ inputs.protocols }}"
    script: |
      import os
      import json
      # Your yield analysis logic here
    outputFiles:
      - yield_data.json

  - id: analyze_volume
    type: io.kestra.plugin.scripts.python.Script
    env:
      PROTOCOLS: "{{ inputs.protocols }}"
    script: |
      import os
      import json
      # Your volume analysis logic here
    outputFiles:
      - volume_data.json

  - id: generate_report
    type: io.kestra.plugin.scripts.python.Script
    env:
      TVL_DATA: "{{ outputs.fetch_tvl_data.files['tvl_data.json'] }}"
      YIELD_DATA: "{{ outputs.analyze_yields.files['yield_data.json'] }}"
      VOLUME_DATA: "{{ outputs.analyze_volume.files['volume_data.json'] }}"
    script: |
      import os
      import json
      # Your report generation logic here
    outputFiles:
      - analytics_report.json