kestra/workflows/portfolio-rebalance.yaml
id: portfolio-rebalance
namespace: defi.portfolio

inputs:
  - id: target_allocations
    type: JSON
    description: "Target portfolio allocations (e.g. {'AVAX': 0.4, 'ETH': 0.3, 'USDC': 0.3})"
  - id: max_slippage
    type: FLOAT
    defaults: 0.01
  - id: gas_threshold
    type: FLOAT
    defaults: 50

tasks:
  - id: analyze_current_positions
    type: io.kestra.plugin.scripts.python.Script
    inputFiles:
      analyze.py: |
        import json
        from web3 import Web3
        # Position analysis logic
        positions = calculate_current_positions()
        with open('positions.json', 'w') as f:
            json.dump(positions, f)
    outputFiles:
      - positions.json

  - id: calculate_trades
    type: io.kestra.plugin.scripts.python.Script
    inputs:
      positions: "{{ outputs.analyze_current_positions.files['positions.json'] }}"
      target: "{{ inputs.target_allocations }}"
    outputFiles:
      - trades.json

  - id: check_gas_conditions
    type: io.kestra.plugin.scripts.python.Script
    inputs:
      gas_threshold: "{{ inputs.gas_threshold }}"
    conditions:
      - type: io.kestra.core.models.conditions.ExecutionStatusCondition
        in:
          - SUCCESS
          - WARNING

  - id: execute_trades
    type: io.kestra.plugin.scripts.python.Script
    inputs:
      trades: "{{ outputs.calculate_trades.files['trades.json'] }}"
      max_slippage: "{{ inputs.max_slippage }}"
    conditions:
      - type: io.kestra.core.models.conditions.ExecutionStatusCondition
        in:
          - SUCCESS